#fp-nav ul li a span{
    background-color: orange;
}
.section1 {
    background: url(../images/01/bg.png) no-repeat center bottom;
}
.section1 .sofa{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -150px;
    margin-bottom: 330px;
    animation: shake 1s alternate infinite;
}
@keyframes shake{
    from{}
    to{
        
        transform: rotateY(999deg) translateY(-80px) 
    }
}
.section1 .ball{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: 110px;
    margin-bottom: 430px;
    animation: shakes .5s alternate infinite;
}
@keyframes shakes{
    from{}
    to{
        
        transform: translateY(-80px) 
    }
}
.section1 .products{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -380px;
    margin-bottom: 150px;
}
.section2 {
    background: url(../images/02/bg.png) no-repeat center bottom;
}
.section2 .search1{
    position: absolute;
    left: 50%;
    /* margin-left: -111px; */
    margin-left: 400px;
    bottom: 0;
    margin-bottom: 300px;
}
.section2 .search2{
    position: absolute;
    left: 50%;
    margin-left: -111px;
    bottom: 0;
    margin-bottom: 300px;
    display: none;
}
.section2 .sofas{
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-right: -216px;
    margin-bottom: 212px;
    width: 0px;

}
/* 第三屏 */
.section3 {
    background: url(../images/03/bg.png) no-repeat center;
}
.section3 .sofa {
  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -232px;
    margin-top: -110px;
}
.section3 .color{
    width: 296px;
    height: 131px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: 39px;
    background: url(../images/03/color01.gif) no-repeat;
}
.section3 .add {
    width: 218px;
    height: 58px;
    position: absolute;
    background: url(../images/03/add01.gif) no-repeat;
    left: 50%;
    top: 50%;
    margin-left: 40px;
    margin-top: 100px;
}
.section3.animation .color {
    transition: all 1s;
    background: url(../images/03/color02.gif) no-repeat;
}
.section3.animation .add{
    transition: all 1s;
    background: url(../images/03/add02.gif) no-repeat;
}
.section4 {
    background: url(../images/04/bg.png) no-repeat center bottom;
}
.section4>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section4 .keyboard{
    width: 283px;
    height: 270px;
    background: url(../images/04/keyboard.png)no-repeat;
    margin-top:50px;
    position: relative;
    opacity: 0;
}
.section4 .keyboard .address{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -86.5px;
    margin-top: -80px;

}
.carBox{
    width: 407px;
    height: 346px;
    position: absolute;
    /* border: 1px solid #000; */
    left:50%;
    margin-left: -203.5px;
    bottom: 40px;
}
.carBox .sofa{
    position: absolute;
    margin-top: -30px;
    margin-left: 130px;
}
.carBox .car {
    position: absolute;
}

.section4 .cloud{
    position: absolute;
    top:10px;
    right:-882px;

    animation: cloud 10s  linear infinite;
}
@keyframes cloud{
    from{}
    to{

        transform: translateX(-2000px) rotateX(360deg) rotateY(3deg);
    }
}
/* 第五屏 */
.section5 {
    background: url(../images/05/bg.png) repeat;
}
.section5 .cardBox{
    width: 358px;
    height: 221px;
    position: absolute;
    right: 50%;
    top: 40%;
    margin-right: 50px
} 
.section5 .cardBox .card{
    position: absolute;
}
.section5 .cardBox .bill {
    position: absolute;
    margin-left: 100px;;
}
.section5 .mouse {
    position: absolute;
    background: url(../images/05/mouse01.png) no-repeat left bottom;
    width: 205px;
    height: 400px;
    left: 50%;
    top: 0;
    margin-left: 200px
}
.section5 .hand{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 175px;
    margin-bottom: -50px;

}
.section5 .words{
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 30px;
    margin-left: -270px;
    opacity: 0;
}
.section5.animation .hand{
    transition: all 1s;
    margin-bottom: 0px;
}
.section5.animation .mouse{
    transition: all 1s 1s;
    background: url(../images/05/mouse02.png) no-repeat left bottom;
}
.section5.animation .bill{
    transition: all 1s 2s;
    margin-top: -130px;
}
.section5.animation .words {
    transition: all 1s 3s;
    transform: rotateY(360deg);
    opacity: 1;
}
/* 第六屏 */
.section6 .street {
    width: 100%;
    height: 100%;
    background: url(../images/06/bg.png) repeat-x -300px bottom;
    position: relative;
}
.section6 .car-Box{
    position: absolute;
    bottom: 0;
    left: 400px;
    margin-bottom: 80px;
    width: 221px;
    height: 122px;
   
}
.section6 .bigBox{
    position: absolute;;
    width: 130px;
    height: 98px;
    top: 10px;
    /* bottom: 0; */
    left: 400px;
    /* margin-bottom: 80px; */
    

}
.section6 .gift{
    position: absolute;
    width: 66px;
    height: 66px;
    margin-left: 30px;
    margin-top: -10px;
}
.section6 .box{
    position: absolute;
}
.man {
    position: absolute;
    right: 0;
    height: 0px;
    /* opacity: 0; */
    bottom: 10px;    

}
.cars {
    position: absolute;
}
.doorAndGirl{
    position: absolute;
    bottom: 0;
    left: 731px;
    margin-bottom: 116px;
    width: 106px;
    height: 150px;
    opacity: 0;
}
.door {
    position: absolute;
   
    width: 106px;
    height: 150px;
}
.girl {
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 100px;
    opacity: 0;
}
/* 第七屏 */
.section7 {
    background: url(../images/07/bg.png) no-repeat center bottom;
}
.section7 .start {
    /* width: 107px; */
    width: 0;
    height: 17px;
    background: url(../images/07/stars3.png);
    position: absolute;
    left: 50%;
    margin-left: -300px;
    bottom: 0;
    margin-bottom: 442px;
}
.section7 .good {
    left: 50%;
    bottom: 0;
    opacity: 0;
    margin-bottom: 376px;
    margin-left: -254px;
    position: absolute;
}
.section7.animation .start{
    transition: all 1s steps(5);
    width: 107px;
}
.section7.animation .good{
    transition: all 1s 1s;
    opacity: 1;
}
/* 第八屏 */
.section8 {
    background: url(../images/08/bg.png) repeat ;
}
.section8 .shopping{
    width: 389px;
    height: 160px;
    position: absolute;
    top:20px;
    left: 50%;
    margin-left: -194.5px;
    background: url(../images/08/begin.png) no-repeat;
}
.section8 .shopping:hover{
    background: url(../images/08/begin.gif) no-repeat;
}
.section8 .again{
    position: absolute;
    right: 80px;
    bottom: 100px;
}
.section8 .hand {
    position: absolute;
    /* 不要接受任何来自于鼠标指针的事件 */
    pointer-events: none;
}
